extends layouts/default

block content
  .container
    //- Put your content here
    //- --------------------------------------------------
    h1 #{config.title}
    h2 #{config.description}

    ul.nav
      each val in uses
        li
          a(href=val.href, target=val.external ? '_blank' : '', title=val.name)= val.name
